/* Vos customisations des classes de Bootstrap */

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}

#home {
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

h1 {
  font-size: 4rem
}

h2, .org {
  color: rgb(220, 71, 71) !important;
}


.short-underline::after {
  content: "";
  position: absolute;
  bottom: -50px; /* Distance from text */
  left: 45%;    /* Centers a 50% width line (100% - 50% = 50% / 2 = 25%) */
  width: 10%;   /* Horizontal width of the underline */
  height: 1px;  /* Thickness of the underline */
  background-color: rgb(220, 71, 71);
}







/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
